{% extends "layout.html" %}
{% block content %}

<table>
<tbody>
    <tr>
        <th align="right">Model name</th>
        <td>{{ sync_model.model_name }}</td>
    </tr>
    <tr>
        <th align="right">ISM Table</th>
        <td>{{ sync_model.ism_name }}</td>
    </tr>
    <tr>
        <th align="right">Sync</th>
        <td>
            {% if sync_model.is_enabled %}
            Syncronizing
            <a href="{% url "sync-model-disable" sync_model.id %}">stop</a>
            {% else %}
            NO -
            <a href="{% url "sync-model-enable" sync_model.id %}">start syncronizing</a>
            {% endif %}
        </td>
    </tr>
</tbody>
</table>


<h2>Fields</h2>

{% if sync_model.is_enabled %}
<p>You can't change "sync" attribute when Model syncronization is disabled</p>
{% endif %}


<table>
    <thead>
        <tr>
            <th></th>
            <th>Field Name</th>
            <th>ISM field</th>
            <th>Sync</th>
        </tr>
    </thead>
    <tbody>
        {% for col in sync_model.columns.all %}
        <tr>
            <td>{% if col.is_pk %}[PK]{% endif %}</td>
            <td>{{ col.name }}</td>
            <td>{{ col.ism_name }}</td>
            <td>
                {% if col.is_enabled %}
                    sync -
                    <a href="{% url "sync-model-column-disable" col.id %}">stop</a>
                {% else %}
                    <a href="{% url "sync-model-column-enable" col.id %}">start syncronizing</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<a href="{% url "entity-delete" sync_model.id %}" onclick="return confirm('Sure?')">Delete this entity</a>


<h2>Preview of last 10 items</h2>
<table>
    <thead>
        <tr>
            {% for title in preview_titles %}
            <th>{{ title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for values in preview_values %}
        <tr>
            {% for value in values %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
