<!doctype html>
<html>

<head>

<style>
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.menu li {
  float: left;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.menu li a:hover {
  background-color: #111;
}
</style>

</head>

<body>

    <ul class="menu">
        <li><a href="{% url "entity-list" %}">Home</a></li>
        <li><a href="{% url "entity-sync-status" %}">Sync Status</a></li>
        <li>
            <a href="{% url "graceful-errors" %}">
                Graceful errors
                {% if num_graceful_errors %}
                {{ num_graceful_errors }}
                {% endif %}
            </a>
        </li>
    </ul>

    {% block content %}{% endblock %}

</body>
