<!doctype html>
{% load static %}
<html lang="mn">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "fira_sans_extra_condensed.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fira_mono.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>
<body>

    <div class="wrapper">

        <div class="menu">
            <a href="{% url "entity-list" %}">Home</a>
            <a href="{% url "entity-sync-status" %}">Sync Status</a>
            <a href="{% url "graceful-errors" %}">
                Graceful errors
                {% if num_graceful_errors %}
                {{ num_graceful_errors }}
                {% endif %}
            </a>
            <a href="{% url "ism-dashboard" %}">Dashboard</a>
        </div>

        <div class="main">
            {% block content %}{% endblock %}
        </div>

    </div>

    {% block "extra_js" %}{% endblock %}
</body>
</html>
